*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sams-serif;
    box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;

}

#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/mb.png) ;
    background-size: cover;
    background-position: center ;
   
}

 .container{
    padding: 10px 10%;
}
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo{
    width: 300px;

  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width:0 ;
    height: 3px;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover{
    color: rgb(0, 0, 0);
  }
  nav ul li a:hover::after{
    width: 100%;
  }
  .header-text{
    margin-top: 30%;
    font-size: 30px;
  }
  .header-text h1{
    font-size: 60px;
    margin-top: 10px;
  }
  .header-text h1 span{
    color:rgb(4, 205, 241) ;
  }
/*-------------------------------about-----------------------------------*/
 #about{
    padding: 80px 0;
    color: #ababab;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
  .about-col-1{
    flex-basis: 35%;
}
  .about-col-1 img{
    width: 100%;
    border-radius: 30px; ;
}
.about-col-2{
    flex-basis: 60%;
    text-align: justify;
    color: #ffffff;
    font-size: 18px;
}
.sub-title{
    font-size : 50px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 30px;
}
.tab-links{
    margin-right: 100px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0 ;
    height: 3px;
    background: rgb(4, 205, 241);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(0, 217, 255);
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------------------------------------Projects--------------------------*/
#projects{
    padding: 50px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 18px;
    text-align:justify;
    font-weight: 100;
    border-radius: 15px;
    transition: background 0.5s , transform 0.5s;
}
.projects-list div i{
    font-size: 50px;
    margin-bottom: 15px;
}
.projects-list div h2{
    font-size: 35px;
    text-decoration:dotted;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}
.projects-list div a{
text-decoration:underline;
color: #02ff24;
font-size: 16px;
margin-top: 50px;
display: inline-block;
}
.projects-list div:hover{
    background: rgb(5, 83, 88);
    transform: translateY(-10px);
}
/*------------------------------Certifications---------------------------------*/
#Certificate{
    padding: 30px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 83, 88));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 18px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color:rgb(12, 8, 241);
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work div p{
  font-size: 14px;
}
.work:hover img{
  transform: scale(1.2);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(4, 205, 241) ;
  padding: 14px 40px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s ;
  transition: transform 0.5s;
}
.btn:hover{
  background: rgb(10, 85, 99);
    transform: translateY(-5px);
}
/*--------------------------------------internships---------------------------------------*/

#Internship {
  padding: 50px 0;
  text-align: center;
}
.card-content h3 {
  font-size: 25px;
  color: rgb(4,243,223);
  padding-top: 5%;
  padding-bottom: 5%;
}
.card-content p{
font-size: 15px;
text-align: justify;
padding-left: 10px;
padding-right: 10px;
}
.container {
  max-width: 2000px;
  margin: 0 auto;
}

.sub-title {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}
.layer p{
  font-size: 11px;
}

.internship-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.internship-card {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(4, 243, 223);
  transition: transform 0.3s ease-in-out;
}

.internship-card:hover {
  transform: translateY(-10px);
}

.card-image {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*---------------------------contact----------------------*/
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: aqua;
  margin-right: 15px;
  font-size:30px;
}
.Social-icons{
  margin-top: 30px;
}
.Social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.Social-icons a:hover{
  color: aqua;
  transform: translateY(-5px);

}
.btn.btn2{
  display: inline-block;
  background: rgb(10, 85, 99);
}
.contact-right from{
  width: 100;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px; 
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
/*----------------css for small screeen------------------------------*/
nav .fa-solid{
  display: none;
}
@media only screen and (max-width: 800px){
 #header{
  background-image: url(images/ms.png);
 }
 .header-text{
  margin-top:85%;
  font-size: 16px;
  padding-top: 5%;
 }
 .header-text h1{
  font-size: 35px;
  padding-top: -2%;
  
 }

nav ul{
  background:rgb(10, 85, 99);
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  z-index: 2;
  transition: right 0.5s;
}
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title{
    font-size: 40px;
  }
  .about-col-1, .about-col-2{
  flex-basis: 100%;  
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
.contact-left,.contact-right{
  flex-basis: 100%;
}
.copyright{
  font-size: 14px;
}
.projects-list div p{
  font-size: 12px;
}
.projects-list div h2{
  font-size: 20px;
}
.projects-list div i{
  font-size: 40px;
}
.tab-links{
  font-size: 25px;
  font-display:inherit;
}
.tab-contents ul li span{
  font-size: 15px;
}
.work div p{
  font-size: 12px;
}
.work div h3{
  font-size: 20px;
  font-weight: 500;
}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}
}
